.Profilbar
{
    margin-left: 40px;
    border-right: 2px solid black;
    margin-right: 30px;
    margin-top: -45px;
    //Width of the block
    width: 180px;
}
.Profilbar1
{
    padding-top: 45px;
}
.Profilbar1a
{
    font-size: 18px;
}
.Profilbar1b
{
    margin-bottom: -12px;
}
.Profilbar1c
{
    font-weight:bolder;
    font-size: 20px;
    
  
}
.Profilbar1d
{
    font-size: 14px;
    margin-left: 29px;
}
.Profilbar1e
{
    
    margin-left: 10px;
}
.Profilbar2
{
    margin-top: 35px;
    font-size: 20px;
    font-family: Trebuchet MS;  
    font-weight: bolder;
}
.Profilbar2a:hover
{
    background-color:#1FAB89 ;
    color: white;
}
.Profilbar2b:hover
{
    background-color:#1FAB89 ;
    color: white;
}
.Profilbar2c
{
    width: 172.5px;
    margin-top: 28px;
    position: fixed;
  
}
.Profil
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 30%;

}

