.MiddleProfil1
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 90px;
    background-color: #62D2A2;
    padding: 60px;
    font-family: 'Trebuchet MS';
    border: 1.5px solid black;
    border-radius: 10px;
    margin-bottom: 80px;
    min-width: 550px;
}
.MiddleProfil1a
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 90px;
    background-color: #62D2A2;
    padding: 50px;
    font-family: 'Trebuchet MS';
    border: 1.5px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}
.MiddleProfil2
{
    border: 1.5px solid black;
    border-radius: 7px;
    background-color: #D7FBE8;
    margin: 10px;
}

.MiddleProfil2:active
{
    background-color: #9DF3C4;
    border-radius: 9px;
}
.MiddleProfil3 input
{
    width: 450px;
    border: 1.5px solid black;
    border-radius: 3px;
    margin-bottom: 25px;
}
.MiddleProfil3a
{
    margin-top: 35px;
}
